@model CreateCategoryViewModel;
@{
    ViewData["Title"] = "AddCategory";
}
<form method="post" asp-controller="categories" asp-action="create">
    <label asp-for="Name" > Name of category</label>
    <input name="Name" asp-for="Name" />
    <span asp-validation-for="Name"></span>
    <button type="submit"> Add </button>
</form>